<!DOCTYPE html>
<html lang="ko">

<head>
	{% include '/001/common/header.html' %}
	{% block topCss %}
	{% endblock %}
</head>

<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar">
			{% include '/001/common/main/nav.html' %}
		</nav>

		<div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				{% include '/001/common/main/topNav.html' %}
			</nav>

			<main class="content">
				{% block main %}
				{% endblock %}
			</main>

			<footer class="footer">
				{% include '/001/common/main/footer.html' %}
			</footer>
		</div>
	</div>
	{% include '/001/common/bottom.html' %}
	{% include '/001/common/main/bottom.html' %}
	{% block bottomJs %}
	{% endblock %}
</body>

</html>