	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Website for integrated management of multiple clients ">
	<meta name="author" content="UnripeData">
	<meta name="keywords" content="Management, crawling, 크롤링, analytic, 통합관리">
	<meta name="csrf-token" content="{{ csrf_token() }}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="/static/common/img/logo/favicon.png" />
	<title>UnripeData - Integrated Task Management</title>
	<link href="/static/001/css/app.css" rel="stylesheet">
	<link href="/static/common/css/alert/simple-notify/simple-notify.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">