{% extends "/001/common/main/layout.html" %}
				{% block main %}
				<div class="container-fluid p-0">
					<div class="row mb-2 mb-xl-3">
						<div class="col-auto d-none d-sm-block">
							<h3><strong>Dashboard</strong></h3>
						</div>

						<div class="col-auto ml-auto text-right mt-n1">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
									<li class="breadcrumb-item">Pages</li>
									<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
								</ol>
							</nav>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-6 col-xxl-5 d-flex">
							<div class="w-100">
								<div class="row">
									<div class="col-sm-6">
										<div class="card">
											<div class="card-body">
												<h5 class="card-title mb-4">관리 서버</h5>
												<h1 class="mt-1 mb-3" id="conncetCommandCnt">{{ serverCnt|safe }}</h1>
												<div class="mb-1">
													<span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i></span>
													<button class="badge bg-success" id="btnSyncCommands">동기화</button>
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-body">
												<h5 class="card-title mb-4">작업 클라이언트</h5>
												<h1 class="mt-1 mb-3" id="conncetClientCnt">{{clientCnt|safe}}</h1>
												<div class="mb-1">
													<span class="text-muted"></span>
													<button class="badge bg-success" id="btnSyncClients">동기화</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="card">
											<div class="card-body">
												<h5 class="card-title mb-4">작업 중</h5>
												<h1 class="mt-1 mb-3">0</h1>
												<div class="mb-1">
													<span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i></span>
													<button class="badge bg-success" id="btnSyncProgress"> 동기화 </button>
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-body">
												<h5 class="card-title mb-4">오류</h5>
												<h1 class="mt-1 mb-3">0</h1>
												<div class="mb-1">
													<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i></span>
													<button class="badge bg-success" id="btnSyncError">동기화</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-6 col-xxl-7">
							<div class="card flex-fill w-100">
								<div class="card-header">
									<h5 class="card-title mb-0">서버별 연결 된 클라이언트 개수</h5>
								</div>
								<div class="card-body py-3">
									<div class="chart chart-sm">
										<canvas id="chartjs-bar-client-progress"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-12 col-lg-8 col-xxl-9 d-flex">
							<div class="card flex-fill">
								<div class="card-header">
									<h5 class="card-title mb-0">최근 작업 목록</h5>
								</div>
								<table class="table table-hover my-0">
									<thead>
										<tr>
											<th>작업명</th>
											<th class="d-none d-xl-table-cell">시작일</th>
											<th class="d-none d-xl-table-cell">종료일</th>
											<th>상태</th>
											<th class="d-none d-md-table-cell">메시지</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>쿠팡 파트너스 등록</td>
											<td class="d-none d-xl-table-cell">21/06/07 22:21</td>
											<td class="d-none d-xl-table-cell"></td>
											<td><span class="badge bg-primary">실행</span></td>
											<td class="d-none d-md-table-cell"></td>
										</tr>
										<tr>
											<td>쿠팡 파트너스 등록</td>
											<td class="d-none d-xl-table-cell">21/06/06 22:10</td>
											<td class="d-none d-xl-table-cell">21/06/06 23:20</td>
											<td><span class="badge bg-danger">오류</span></td>
											<td class="d-none d-md-table-cell">로그인 실패</td>
										</tr>
										<tr>
											<td>쿠팡 파트너스 등록</td>
											<td class="d-none d-xl-table-cell">21/06/05 20:01</td>
											<td class="d-none d-xl-table-cell">21/06/06 04:05</td>
											<td><span class="badge bg-success">완료</span></td>
											<td class="d-none d-md-table-cell"></td>
										</tr>
										<tr>
											<td>-</td>
											<td class="d-none d-xl-table-cell"></td>
											<td class="d-none d-xl-table-cell"></td>
											<td><span class="badge bg-success"></span></td>
											<td class="d-none d-md-table-cell"></td>
										</tr>
										<tr>
											<td>-</td>
											<td class="d-none d-xl-table-cell"></td>
											<td class="d-none d-xl-table-cell"></td>
											<td><span class="badge bg-success"></span></td>
											<td class="d-none d-md-table-cell"></td>
										</tr>
										<tr>
											<td>-</td>
											<td class="d-none d-xl-table-cell"></td>
											<td class="d-none d-xl-table-cell"></td>
											<td><span class="badge bg-success"></span></td>
											<td class="d-none d-md-table-cell"></td>
										</tr>
										<tr>
											<td>-</td>
											<td class="d-none d-xl-table-cell"></td>
											<td class="d-none d-xl-table-cell"></td>
											<td><span class="badge bg-success"></span></td>
											<td class="d-none d-md-table-cell"></td>
										</tr>
										<tr>
											<td>-</td>
											<td class="d-none d-xl-table-cell"></td>
											<td class="d-none d-xl-table-cell"></td>
											<td><span class="badge bg-success"></span></td>
											<td class="d-none d-md-table-cell"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-12 col-lg-4 col-xxl-3 d-flex">
							<div class="card flex-fill w-100">
								<div class="card-header">

									<h5 class="card-title mb-0">주간 작업 오류 건수</h5>
								</div>
								<div class="card-body d-flex w-100">
									<div class="align-self-center chart chart-lg">
										<canvas id="chartjs-line-week-error"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				{% endblock %}

	{% block bottomJs %}

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			var ctx = document.getElementById("chartjs-line-week-error").getContext("2d");
			var gradient = ctx.createLinearGradient(0, 0, 0, 225);
			gradient.addColorStop(0, "rgba(215, 227, 244, 1)");
			gradient.addColorStop(1, "rgba(215, 227, 244, 0)");
			// line chart
			new Chart(document.getElementById("chartjs-line-week-error"), {
				type: "line",
				data: {
					labels: ["3/19", "3/20", "3/21", "3/22", "3/23", "3/24", "3/25"],
					datasets: [{
						label: "Sales ($)",
						fill: true,
						backgroundColor: gradient,
						borderColor: window.theme.danger,
						data: [0, 1, 2, 3, 4, 6, 8]
					}]
				},
				options: {
					maintainAspectRatio: false,
					legend: {
						display: false
					},
					tooltips: {
						intersect: false
					},
					hover: {
						intersect: true
					},
					plugins: {
						filler: {
							propagate: false
						}
					},
					scales: {
						xAxes: [{
							reverse: true,
							gridLines: {
								color: "rgba(0,0,0,0.0)"
							}
						}],
						yAxes: [{
							ticks: {
								stepSize: 1000
							},
							display: true,
							borderDash: [3, 3],
							gridLines: {
								color: "rgba(0,0,0,0.0)"
							}
						}]
					}
				}
			});
		});
	</script>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			var markers = [{
					coords: [31.230391, 121.473701],
					name: "Shanghai"
				},
				{
					coords: [28.704060, 77.102493],
					name: "Delhi"
				},
				{
					coords: [6.524379, 3.379206],
					name: "Lagos"
				},
				{
					coords: [35.689487, 139.691711],
					name: "Tokyo"
				},
				{
					coords: [23.129110, 113.264381],
					name: "Guangzhou"
				},
				{
					coords: [40.7127837, -74.0059413],
					name: "New York"
				},
				{
					coords: [34.052235, -118.243683],
					name: "Los Angeles"
				},
				{
					coords: [41.878113, -87.629799],
					name: "Chicago"
				},
				{
					coords: [51.507351, -0.127758],
					name: "London"
				},
				{
					coords: [40.416775, -3.703790],
					name: "Madrid "
				}
			];
		});
	</script>
	<script>
		let initChart = () =>{
			commonAjaxToJson("/worker/client/list","POST", null, function(ajaxData) {
				if(ajaxData.result){
					let data = ajaxData.data;
					let servers = JSON.parse(data);
					let max = Object.keys(data).length;
					let header = [];
					let value = [];

					let i = 0;
					for (let key in servers) {
						header[i] = key;
						value[i] = servers[key].length;
						i++;
					}

					new Chart(document.getElementById("chartjs-bar-client-progress"), {
						type: "bar",
						data: {
							labels: header,
							datasets: [{
								label: "클라이언트 수",
								backgroundColor: window.theme.primary,
								borderColor: window.theme.primary,
								hoverBackgroundColor: window.theme.primary,
								hoverBorderColor: window.theme.primary,
								data: value,
								barPercentage: .75,
								categoryPercentage: .5
							}]
						},
						options: {
							maintainAspectRatio: false,
							legend: {
								display: false
							},
							scales: {
								yAxes: [{
									gridLines: {
										display: false
									},
									stacked: false,
									ticks: {
										stepSize: 20,
										suggestedMin: 0
									}
								}],
								xAxes: [{
									stacked: false,
									gridLines: {
										color: "transparent"
									}
								}]
							}
						}
					});
				}
			});
		}

		initChart();

		const btnSyncClients = document.getElementById('btnSyncClients');
		btnSyncClients.onclick = function() {
			commonAlert("TCP 클라이언트 동기화 요청","Warning","warning");
			syncClients(true);
		}

		let syncClients = (isNotice) => {
			commonAjaxToJson("/worker/client/req/sync","POST", null, function(ajaxData) {
				commonAjaxToJson("/worker/client/get/count","POST", null, function(ajaxData) {
					if(ajaxData.result){
						let data = ajaxData.data;
						let clientCount = 0;
						for (let key in data) {
							clientCount += data[key];
						}
						document.getElementById('conncetClientCnt').innerHTML= clientCount;
						if(isNotice) {
							commonAlert("TCP 클라이언트 동기화 요청 성공","Success","success");
						}
						initChart();
					}
					else{
						if(isNotice) {
							commonAlert("TCP 클라이언트 동기화 요청 실패","Error","error");
						}
					}
				});
			});
		}

		const btnSyncCommands = document.getElementById('btnSyncCommands');
		btnSyncCommands.onclick = function() {
			commonAlert("TCP 서버 동기화 요청","Warning","warning");
			syncCommands(true);
		}

		let syncCommands = (isNotice) => {
			commonAjaxToJson("/worker/command/req/sync","POST", null, function(ajaxData) {
				let result = false;
				if(ajaxData.result){
					let data = ajaxData.data;
					document.getElementById('conncetCommandCnt').innerHTML= data;
					syncClients(false);
					if(isNotice) {
						commonAlert("TCP 서버 동기화 요청 성공","Success","success");
					}
				}
				else{
					if(isNotice) {
						commonAlert("TCP 서버 동기화 요청 실패","Error","error");
					}
				}
			});
		}
	</script>
	{% endblock %}